<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="post.css"/>
<title>Food Searching</title>
</head>
<body>

<p></p>
  
<form id="form1" method="post" action="/gurunavi/show">
<ul>
<li>
<label><span>What do you want to eat?  </span><input type="text" name="type" /></label>
</li>
<li>
<label>
<span></span><input type="submit" value="Search" />
</label>
</li>
<li>
Arabic,
Bosnian (Latin),
Bulgarian,
Catalan,
Chinese Simplified,
Chinese Traditional,
Croatian,
Czech,
Danish,
Dutch,
English,
Estonian,
Finnish,
French,
German,
Greek,
Haitian Creole,
Hebrew,
Hindi,
Hmong Daw,
Hungarian,
Indonesian,
Italian,
Japanese,
Kiswahili,
Klingon,
Klingon (pIqaD),
Korean,
Latvian,
Lithuanian,
Malay,
Maltese,
Norwegian,
Persian,
Polish,
Portuguese,
Querétaro Otomi,
Romanian,
Russian,
Serbian (Cyrillic),
Serbian (Latin),
Slovak,
Slovenian,
Spanish,
Swedish,
Thai,
Turkish,
Ukrainian,
Urdu,
Vietnamese,
Welsh,
Yucatec Maya
</li>
</ul>
</form>

</body>
</html>
